@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: rgb(167, 167, 167);
    font-family: 'Open Sans', sans-serif;
}

.coche{
    border: 1px solid;
    width: 70%;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 7.5px;
    margin-bottom: 7.5;
    -webkit-box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.75);
}

#marca,#imagen{
    margin: 5px;
}

#marca{
    font-weight: bold;
    font-size: 150%;
}

label{
    font-size: 120%;
    font-style: oblique;

}

p{
    font-size: 120%;
    font-style: oblique;
}

legend{
    font-size: 150%;
    font-style: inherit;
}

#imagen{
    width: 600px;
    border-radius: 7px;
}

#desc{
    margin-top: 6px;
}

fieldset{
    margin-bottom: 3px;
}